WebServices-SOAP/src/com/epam/mentoring/soap/generator/RandomNumberGenerator.wsdl

<?xml version="1.0" encoding="UTF-8"?><wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:ns="http://www.epam.com/mentoring/xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ns1="http://org.apache.axis2/xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:tns="http://www.epam.com/mentoring" targetNamespace="http://www.epam.com/mentoring">
    <wsdl:types>
        <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://www.epam.com/mentoring/xsd">
            <xs:element name="randomNumber">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="lowerBound" type="xs:int"/>
                        <xs:element name="upperBound" type="xs:int"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="randomNumberResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="return" type="xs:int"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="randomNumberRequest">
        <wsdl:part name="parameters" element="ns:randomNumber"/>
    </wsdl:message>
    <wsdl:message name="randomNumberResponse">
        <wsdl:part name="parameters" element="ns:randomNumberResponse"/>
    </wsdl:message>
    <wsdl:portType name="RandomNumberGeneratorPortType">
        <wsdl:operation name="randomNumber">
            <wsdl:input message="tns:randomNumberRequest" wsaw:Action="urn:randomNumber"/>
            <wsdl:output message="tns:randomNumberResponse" wsaw:Action="urn:randomNumberResponse"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="RandomNumberGeneratorSoap11Binding" type="tns:RandomNumberGeneratorPortType">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="randomNumber">
            <soap:operation soapAction="urn:randomNumber" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="RandomNumberGeneratorSoap12Binding" type="tns:RandomNumberGeneratorPortType">
        <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="randomNumber">
            <soap12:operation soapAction="urn:randomNumber" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="RandomNumberGeneratorHttpBinding" type="tns:RandomNumberGeneratorPortType">
        <http:binding verb="POST"/>
        <wsdl:operation name="randomNumber">
            <http:operation location="randomNumber"/>
            <wsdl:input>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="RandomNumberGenerator">
        <wsdl:port name="RandomNumberGeneratorHttpSoap11Endpoint" binding="tns:RandomNumberGeneratorSoap11Binding">
            <soap:address location="http://localhost:8080/axis2/services/RandomNumberGenerator"/>
        </wsdl:port>
        <wsdl:port name="RandomNumberGeneratorHttpSoap12Endpoint" binding="tns:RandomNumberGeneratorSoap12Binding">
            <soap12:address location="http://localhost:8080/axis2/services/RandomNumberGenerator"/>
        </wsdl:port>
        <wsdl:port name="RandomNumberGeneratorHttpEndpoint" binding="tns:RandomNumberGeneratorHttpBinding">
            <http:address location="http://localhost:8080/axis2/services/RandomNumberGenerator"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
